*{
  font-family: "Work Sans", sans-serif;
}

.header{
    display: flex;
    max-width: var(--max-width);
    margin: auto;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--primary-font-color);
}

.nav-links{
    display: flex;
    gap: 1.5rem;
}


.links{
    text-decoration: none;
    font-family: var(--primary-font);
    color: black;
}

.links:hover{
    color: rgb(104, 104, 104);
}

.get-started{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.Login{
    padding: 10px 30px;
    border: none;
    color: black;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.Login:hover{
    background-color:rgb(61, 61, 255);
    color: white;
}

.get-started:hover{
    background-color: rgb(55, 108, 255);
}




/* main styles */

.sell-nft, .hot-nfts-container, .view-more{
    max-width: var(--max-width);
}


.main-section{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem;
}

.hero-container{
    display: flex;
    align-items: center;
}

.hero-section{
    display: flex;
    align-items: center;
    height: 700px;
}

.hero-header{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.hero-header span{
    color: var(--primary-font-color);
}

.hero-container p{
    line-height: 1.2;
    color: grey;
}

.hero-container figure img{
    height: 500px;
}


.buy-btn{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    gap: 10px;
    padding: 8px;
    width: 200px;
    height: 50px;
    border-radius: 2rem;
    transition: 0.3s;
}

.buy-btn:hover{
    background-color: rgb(58, 58, 58);
    scale: 1.05;
}

.buy-btn div{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.material-symbols-outlined{
    font-size: 1.3rem;
}




/* features section  */

.sell-nft{
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2.5rem;
        opacity: 0;
    filter: blur(5px);
    transform: translateX(-50px);
    transition: all 3s ease;
}

.features-section{
    min-height: 100px;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
}

.features-container{
    box-shadow: 0 0 20px rgba(85, 85, 85, 0.281);
    border-radius: 0.6rem;
    padding: 20px;
    min-height: 100px;
    flex-grow: 1;
    flex-basis: 20rem;
    transition: 0.3s;
}

.features-card{
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 10px;
}

.features-container:hover{
    scale: 1.05;
}

.features-card span{
    font-size: 2rem;
}





/* super hot nfts  */

.hot-nfts-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    column-gap: 2rem;
    margin: 5rem 0 2.5rem 0;
}

.hot-nfts-container h1{
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 2rem;
}

.hot-nfts-container div button{
    border: none;
    font-size: 0.7rem;
    margin-right: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
    padding: 10px 20px;
    color: black;
    transition: 0.3s;
}

.hot-nfts-container div button:hover{
    background-color: rgb(55, 108, 255);
}

/* cards section  */

.card-section{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card-section article{
    box-shadow: 0 0 25px rgba(187, 187, 187, 0.716);
    border-radius: 1rem;
    padding: 1rem;
    flex-basis: 17rem;
    flex-grow: 1;
    transition: 0.3s;
}

.card-section article:hover{
    scale: 1.05;
}

.card-section article img{
    width: 100%;
    border-radius: 1rem;
}

.card-section article h2{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.btc-and-price{
    display: flex;
    align-items: center;
    color: rgb(61, 61, 255);
    font-weight: 500;
    font-size: 0.8rem;
}
.btc-and-price div span{
    color: white;
    font-size: 0.8rem;
}
.btc-and-price div{
    background-color: rgb(61, 61, 255);
    padding: 5px;
    border-radius: 1rem;
    margin-right: 5px;
}
.btc-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.nums{
    color: grey;
    font-size: 0.8rem;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time-container{
    background-color: rgb(228, 228, 228);
    padding: 7.5px 25px;
    border-radius: 0.7rem;
    font-size: 0.8rem;
}

.bid{
    color: rgb(61, 61, 255);
    font-weight: 600;
    font-size: 0.8rem;
}





/* view more  */

.view-more{
    justify-self: center;
    margin-top: 3rem;
    background-color: rgb(228, 228, 228);
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.view-more:hover{
    background-color: rgb(55, 108, 255);
    color: white;
}


/* best seller section  */

.best-seller-heading{
    margin-top: 2rem;
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: 600;
}

.best-seller-section{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.people-card{
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px rgb(210, 210, 210);
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    flex-grow: 1;
    flex-basis: 15rem;
    transition: 0.3s;
}

.people-card:hover{
    scale: 1.05;
}

.people-card div h3{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.people-card div p{
    font-size: 13px;
}

.people-card img{
    width: 45px;
    border-radius: 5px;
    margin-right: 1rem;
}



/* footer section  */

footer{
    margin-top: 3rem;
    background-color: black;
    color: white;
    margin: auto;
    padding: 3rem;
    max-width: 1400px;
}

.footer-container{
    height: 300px;
    display: flex;
    align-items: center;
    margin: auto;
    font-family: var(--primary-font);
}

.footer-header h1{
    font-size: 3rem;
    font-weight: 600;
}

.aside-container{
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.aside-container ul{
    display: flex;
    gap: 1rem;
    color: grey;
}

.aside-container ul li:hover{
    color: rgb(55, 108, 255);
    transition: 0.3s;
}

.aside-container p{
    color: grey;
}

.icons-container i{
    color: white;
    font-size: 2rem;
    transition: 0.5s;
}
.icons-container i:hover{
    color: rgb(55, 108, 255);
}


@keyframes slideRight {
    from{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(50px);
        transition: all 3s;
    }
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    from{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-50px);
        transition: all 3s;
    }
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}
.showRight{
    animation: slideRight 2s ease forwards;
}
.showLeft{
    animation: slideLeft 2s ease forwards;
}